<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CO_DE</title>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The open source programming judge.">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'><link rel="stylesheet" href="/css/style90.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
    </head>
    <body>
        
 <br>
 <br>
        <div class="container">
            <ul class="">
                <li class=" list-group-item">Submission ID: <%= submission._id %></li>
                <li class="list-group-item ">pid: <%= submission.pid %></li>
                <li class=" list-group-item">Language: <%= submission.lang %></li>
                <li class=" list-group-item">Username: <%= submission.username %></li>
                <li class=" list-group-item">Result: <%= submission.in_queue ? 'In queue' : submission.result.str %></li>
                <li class="list-group-item ">Time: <%= submission.in_queue ? '' : submission.result.time.toFixed(3) %> minutes</li>
                <li class="list-group-item ">Memory: <%= submission.in_queue ? '' : submission.result.memory %> kilobytes</li>
                <li class="list-group-item ">Submit Time: <%= submission.submit_time %></li>
            </ul>
            <pre><code class="language-javascript"><%= submission.sourcecode %></code></pre>
        </div>

        
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script><script  src="/css/script90.js"></script>

    
</html>